.uslugiAttentionWrapper {
    margin: 30px 0;
}

.uslugiAttention {
    width: 80%;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 20px;

    border-radius: 20px;

    background-color: #FFF9E7;

    -webkit-box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);
    -moz-box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);
    box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);

    

}

.uslugiAttentionImg {
    width: 22px;

    margin-right: 20px;
}

.uslugiAttentionTextContent {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uslugiAttentionTextHeadline {
    font-size: 24px;
    font-weight: 600;
    color: #fdc713;

    margin-bottom: 10px;

}

.uslugiAttentionText {
    margin: 2px 0;
    font-size: 16px;
    font-weight: 600;
    color: #555555;
    line-height: 110%;
}





.uslugi {
    display: flex;
    justify-content: space-between;
}
.uslugiCol1,
.uslugiCol2,
.uslugiCol3 {
    width: 30%;
}

.uslugiShalgbaumAndVideo {
    position: relative;

    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 20px;

    border-radius: 20px;

    background-color: #ad8e00;
}

.uslugiShalgbaumAndVideoTextContent {
    position: relative;
    z-index: 10;
}

.uslugiShalgbaumAndVideoHeadline {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    height: 110%;
}


.uslugiShalgbaumAndVideoDesc {
    margin: 5px 0;

    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 110%;
}

.uslugiShalgbaumAndVideoListWrapper {
    margin-top: 30px;
}

.uslugiShalgbaumAndVideoListItem {
    display: flex;
    align-items: center;

    margin: 10px 0;
}

.uslugiShalgbaumAndVideoLinkWrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.uslugiShalgbaumAndVideoLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 40px;

    color: #333;
    text-decoration: none;

    background-color: #fff;

    border-radius: 10px;
    border: 2px dashed #fff;

    cursor: pointer;

    transition: .3s all;
}

.uslugiShalgbaumAndVideoLink:hover {
    transform: scale(1.05);
    background-color: #fef1b7;
}

.uslugiShalgbaumAndVideoListItemImg {
    width: 50px;
    margin-right: 10px;
}

.uslugiShalgbaumAndVideoListItemText {
    font-size: 16px;
    color: #fff;
}

.uslugiShalgbaumAndVideoImgContent {
}

.uslugiShalgbaumAndVideoImgWrapper {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 20px;
    text-align: right;

}

.shlagb {
    opacity: .9;
}
.uslugiShalgbaumAndVideoImg {
    width: 210px;
}


.uslugiCol3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uslugiAnotherWrapper {
    height: 200px;
    background-color: #b88700;
    
    padding: 20px;
    
    border-radius: 20px;

    box-sizing: border-box;
    

}

.uslugiAnother {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}


.uslugiAnotherHeadline {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
}

.uslugiAnotherDesc {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.uslugiAnotherImgContent {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.uslugiAnotherLinkWrapper {
    width: 130px;
}

.uslugiAnotherLink {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;

    text-decoration: none;
    font-size: 16px;
    color: #333;

    border-radius: 10px;

    background-color: #fff;

    transition: .3s all;

    cursor: pointer;
}

.uslugiAnotherLink:hover {
    transform: scale(1.05);
    background-color: #fef1b7;
}

.uslugiAnotherImgWrapper {
    text-align: right;
}


.uslugiAnotherImg {
    width: 110px;
}

.forTSSHLozungWrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.forTSSHLozungTextWrapper {
    width: 60%;

    display: flex;
    align-items: center;
}



.forTSSHLozungText {
    position: relative;



    font-size: 26px;
}

.forTSSHLozungTextProblemUs {
    margin-top: 10px;

    color: #e3b418;
    font-weight: 600;
}

.forTSSHLozungText:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 60px;
    height: 6px;
    background-color: #fdc713;
}


.forTSSHLozungAdventages {
    width: 40%;

    display: flex;
    justify-content: space-between;
}

.forTSSHLozungAdventage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 165px;

    padding: 10px 25px;
    box-sizing: border-box;

    text-align: center;

    background-color: #e3b418;

    border-radius: 15px;

}

.forTSSHLozungAdventageIcon {
    width: 60px;
    
}

.forTSSHLozungAdventageText {
    margin-top: 10px;

    min-height: 35px;

    font-size: 16px;
    font-weight: 600;
    color: #333;
}


.forTSZHUslugiList {
    display: flex;
    justify-content: space-between;

    margin-top: 40px;
}


.forTSZHUslugiItem {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 150px;

    padding: 25px;
    box-sizing: border-box;

    border-radius: 15px;

    background-color: #e3b418;
}

.forTSZHUslugiItem1 {
    width: 32%;
    background-color: #FFDB40;
}

.forTSZHUslugiItem2 {
    width: 42%;
    background-color: #FFDB40;
}

.forTSZHUslugiItem3 {
    width: 20%;
    background-color: #FFDB40;
}

.forTSZHUslugiItemHeadlineWrapper {
    position: relative;
    z-index: 2;
}

.forTSZHUslugiItemHeadline {
    font-size: 22px;
}

.forTSZHUslugiItemLinkWrapper {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;

    width: 120px;

    background-color: #fff;

    border-radius: 10px;

    transition: .3s all;
}

.forTSZHUslugiItemLinkWrapper:hover {
    transform: scale(1.05);
}

.forTSZHUslugiItemLink {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 10px;

    font-size: 18px;
    color: #333;

    text-decoration: none;


}

.forTSZHUslugiItemImg {
    position: absolute;
    right: 15px;
    bottom: 20px;

    width: 100px;
}

.forTSZHOfferWrapper {
    height: 350px;

    margin-top: 30px;

}

.forTSZHOffer {
    height: 100%;

    position: relative;

    padding: 30px;
    box-sizing: border-box;

    border-radius: 15px;
    

    background-image: url('/images/uslugi/tszh.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.forTSZHOffer::after {
    content: "";
    position: absolute;

    z-index: 0;

    inset: 0;

    background: rgba(0, 0, 0, 0.4);

    border-radius: 15px;
}

.forTSZHOfferHeaderWrapper {
    position: relative;
    z-index: 1;
}

.forTSZHOfferHeader {
    font-size: 70px;
    font-weight: 600;
    color: #fdc713;
}

.forTSZHOfferParagraph {
    position: relative;
    z-index: 1;

    color: #fff;
    font-size: 32px;
}


.forBusinesWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.forBusines {
    width: 98%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    box-sizing: border-box;
    margin-top: 40px;
    padding: 20px;
    
    border-radius: 40px;

    background-color: #ffd000;

    -webkit-box-shadow: 0px 12px 12px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 12px 12px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 12px 12px 5px rgba(34, 60, 80, 0.2);
}

.forBusinesWrapper
.uslugiHeadlineWrapper {
    width: 100%;
}

.forBusinesCol {
    width: 48%;
    height: 500px;
}


.forBusinesTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
    box-sizing: border-box;
    
    border-radius: 20px;

    background-color: #fdedb9;

    color: #333;
}

.forBusinesParagraph {
    margin: 0;

    font-size: 36px;
    line-height: 110%;
}

.forBusinesProblemWrapper {
    margin-top: 10px;
}

.forBusinesProblems {
    font-size: 22px;

    line-height: 110%;

    margin: 0;
}

.forBusinesNoProblem {
    color: #b78f00;
    font-weight: 600;
}

.fotBusinesGarant {
    margin: 0;

    font-size: 17px;
    font-weight: 500;
    color: #646464;
}


.forBusnesUslugiList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.forBusnesUslugiItem {
    position: relative;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 240px;

    padding: 25px;
    box-sizing: border-box;

    border-radius: 20px;
    border: 3px solid #fcedbd;

  
}

.forBusnesUslugiItemHeader {
    position: relative;
    z-index: 1;
    font-size: 26px;
}

.forBusnesUslugiItemImg {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 0;

    width: 180px;
}

.forBusnesUslugiItemLinkWrapper {
    width: 150px;
}

.forBusnesUslugiItemLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: #333;
    text-decoration: none;
    font-size: 16px;

    padding: 10px 0;

    background-color: #fff;

    border-radius: 10px;

    transition: .3s all;

}

.forBusnesUslugiItemLink:hover {
    transform: scale(1.05);
}



@media screen and (min-width: 1980px) {
    .uslugiAttentionWrapper {
        margin-bottom: 40px;
    }
    .uslugiAttention {
        width: 60%;

        padding: 25px;
    }

    .uslugiAttentionTextHeadline {
        font-size: 36px;
    }

    .uslugiAttentionText {
        font-size: 18px;
    }

    .uslugiAttentionImg {
        width: 26px;
    }


    /* uslugi */
    .uslugiShalgbaumAndVideo {
        height: 800px;
    }

    .uslugiShalgbaumAndVideoTextHeader {
        min-height: 130px;
    }

    .uslugiShalgbaumAndVideoHeadlineWrapper {
        width: 90%;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 50px;
    }

    .uslugiShalgbaumAndVideoDesc {
        font-size: 22px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 20px 0;
    }

    .uslugiShalgbaumAndVideoListItemText {
        font-size: 20px;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 70px;
        margin-right: 20px;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 240px;
        height: 50px;
        font-size: 22px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 300px;
    }

    .uslugiAnotherWrapper  {
        height: 220px;
    }

    .uslugiAnotherHeadline  {
        font-size: 34px;
    }

    .uslugiAnotherDesc {
        font-size: 18px;
    }

    .uslugiAnotherLinkWrapper {
        width: 170px;

        margin-top: 30px;
    }

    .uslugiAnotherLink {
        height: 45px;
        font-size: 18px;
    }

    .uslugiAnotherImg {
        width: 150px;
    }




    .forTSSHLozungTextWrapper {
        width: 56%;
    }

    .forTSSHLozungText {
        font-size: 36px;
    }

    .forTSSHLozungText:after {
        bottom: -30px;
        width: 100px;
        height: 10px;
    }

    .forTSSHLozungAdventage {
        width: 220px;
    }

    .forTSSHLozungAdventageIcon {
        width: 100px;
    }

    .forTSSHLozungAdventageText {
        font-size: 18px;
    }

    .forTSZHUslugiList {
        margin-top: 60px;
    }

    .forTSZHUslugiItem  {
        height: 190px;
    }

    .forTSZHUslugiItemHeadline {
        font-size: 26px;
    }

    .forTSZHUslugiItemImg {
        width: 130px;
    }

    .forTSZHUslugiItemLinkWrapper {
        width: 160px;
    }

    .forTSZHUslugiItemLink {
        font-size: 20px;
    }



    .forTSZHOfferWrapper {
        height: 500px;
    }

    .forTSZHOffer {
        background-position: center 80%;

        padding: 40px;
    }

    .forTSZHOfferHeader {
        font-size: 100px;
    }

    .forTSZHOfferParagraph {
        font-size: 46px;
    }
}

@media screen and (max-width: 1024px) {
    .uslugiAttention {
        width: 100%;
    }

    .uslugiAttentionTextHeadline {
        font-size: 30px;
    }




    .uslugi {
        flex-wrap: wrap;
    }

    .uslugiCol1,
    .uslugiCol2,
    .uslugiCol3 {
        width: 100%;
    }

    .uslugiShalgbaumAndVideo {
        height: 300px;

        margin: 10px 0;
        padding: 15px;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 30px;
    }

    .uslugiShalgbaumAndVideoDesc {
        margin-top: 10px;

        font-size: 14px;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 34px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 6px 0;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 170px;

        font-size: 16px;
    }

    .uslugiShalgbaumAndVideoLinkWrapper {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .uslugiShalgbaumAndVideoImgWrapper {
        bottom: 10px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 300px;
    }

    .uslugiCol3 {
        flex-direction: row;
    }

    .uslugiAnotherWrapper {
        width: 32%;
    }

    .uslugiAnotherTextContent {
        position: relative;
        z-index: 2;
    }

    .uslugiAnotherHeadlineWrapper {
        
    }
    
    .uslugiAnotherHeadline {
        font-size: 20px;
    }

    .uslugiAnotherDesc {
        font-size: 11px;
    }

    .uslugiAnotherLinkWrapper {
        width: 90px;
    }

    .uslugiAnotherLink {
        height: 25px;

        margin-top: 26px;

        font-size: 12px;

        border-radius: 6px;
    }

    .uslugiAnotherImg {
        width: 135px;
    }





    .forTSSHLozungWrapper {
        margin-top: 20px;
    }

    .forTSSHLozungTextWrapper {
        width: 40%;
    }

    .forTSSHLozungText {
        font-size: 20px;
        margin: 0;
    }

    .forTSSHLozungAdventages {
        width: 58%;
    }

    .forTSSHLozungAdventage {
        width: 130px;
    }

    .forTSSHLozungAdventageText {
        font-size: 12px;
    }

    .forTSZHUslugiList {
        margin-top: 50px;
    }

    .forTSZHUslugiItem  {
        padding: 15px;
    }

    .forTSZHUslugiItemHeadline {
        font-size: 18px;
    }

    .forTSZHUslugiItemLinkWrapper {
        width: 100px;
    }

    .forTSZHUslugiItemLink {
        padding: 6px 0;
        font-size: 16px;
    }

    .forTSZHUslugiItem1 {}

    .forTSZHUslugiItem2 {
        width: 37%;
    }

    .forTSZHUslugiItem3 {
        width: 27%;
    }

    .forTSZHOfferWrapper {
        height: 300px;
    }

    .forTSZHOffer {
        padding: 20px;

        background-position: center 70%;
    }

    .forTSZHOfferHeader {
        font-size: 45px;
    }

    .forTSZHOfferParagraph {
        font-size: 24px;
    }

}

@media screen and (max-width: 576px) {
    .uslugiAttention {
        width: 100%;
        padding: 10px;
    }

    .uslugiAttentionText {
        font-size: 12px;
    }

    .uslugiAttentionImg {
        width: 20px;

        margin-right: 10px;
    }

    .uslugiAttentionTextHeadline {
        margin-bottom: 5px;
    }

    .uslugi {
    }

    .uslugiCol3 {
        flex-direction: column;
    }

    .uslugiAnotherWrapper {
        width: 100%;

        margin: 10px 0;
        padding: 15px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 200px;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 24px;
    }

    .uslugiShalgbaumAndVideoDesc {
        font-size: 11px;
    }

    .uslugiShalgbaumAndVideoListWrapper {
        margin-top: 15px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 12px 0;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 24px;
        margin-right: 6px;
    }

    .uslugiShalgbaumAndVideoListItemText {
        font-size: 12px;
    }

    .uslugiShalgbaumAndVideoLinkWrapper {
        margin-top: 30px;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }

    .uslugiAnotherHeadline {
        font-size: 24px;
    }

    .uslugiAnotherDesc {
        font-size: 13px;
    }

    .uslugiAnotherLink {
        margin-top: 16px;
        font-size: 10px;
    }

    .forTSSHLozungWrapper {
        flex-direction: column;
    }

 

    .forTSSHLozungAdventages {
        width: 100%;
        margin-top: 10px;
    }

    .forTSSHLozungAdventage {
        width: 32%;
    }

    .forTSSHLozungAdventageIcon {
        width: 50px;
    }

    .forTSSHLozungAdventageText {
        font-size: 11px;
    }

    .forTSSHLozungTextWrapper {
        width: 100%;
    }

    

    


 

    .forTSZHUslugiList {
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .forTSZHUslugiItem {
        padding: 15px;
    }

    .forTSZHUslugiItem3,
    .forTSZHUslugiItem1 {
        width: 48%;
    }

    .forTSZHUslugiItem2 {
        width: 100%;
    }

    .forTSZHUslugiItem1 {
        order: 2;
        margin-top: 20px;
    }

    .forTSZHUslugiItem2 {
        order: 0;
    }   

    .forTSZHUslugiItem3 {
        order: 1;
        margin-top: 20px;
    }

    .forTSZHUslugiItem2
    .forTSZHUslugiItemHeadline {
        font-size: 20px;
    }

    .forTSZHUslugiItemLinkWrapper {
        width: 100px;
    }

    .forTSZHUslugiItemLink {
        padding: 5px;
        font-size: 12px;
    }


    .forTSZHUslugiItem1
    .forTSZHUslugiItemHeadline,
    .forTSZHUslugiItem3
    .forTSZHUslugiItemHeadline {
        font-size: 16px;
    }

    .forTSZHUslugiItem1
    .forTSZHUslugiItemImg,
    .forTSZHUslugiItem3
    .forTSZHUslugiItemImg {
        width: 80px;
    }  


    .forTSZHOfferWrapper {
        height: 200px;

        margin-top: 40px;
    }

    .forTSZHOffer {
        padding: 15px;

        text-align: center;

    }

    .forTSZHOffer:after {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .forTSZHOfferHeader {
        font-size: 30px;
    }

    .forTSZHOfferParagraph {
        font-size: 18px;
    }


    .forBusines {
        width: 100%;
        flex-direction: column;
    }

    .forBusinesCol {
        width: 100%;
        height: auto;
    }

    .forBusinesTextContent {
        padding: 10px;
        border-radius: 10px;

        margin-bottom: 30px;
    }

    .forBusinesParagraph {
        font-size: 22px;
    }

    .forBusinesProblemWrapper {
        margin-top: 5px;
    }

    .forBusinesProblems {
        font-size: 14px;
    }

    .fotBusinesGarant {
        margin-top: 25px;

        font-size: 14px;
    }

    .forBusnesUslugiList {
        /* margin-top: 20px; */
    }
    
}