.uslugiAttentionWrapper {
    margin: 30px 0;
}

.uslugiAttention {
    width: 80%;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 20px;

    border-radius: 20px;

    background-color: #FFF9E7;

    -webkit-box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);
    -moz-box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);
    box-shadow: 4px 4px 29px 4px rgba(254, 208, 62, 0.2);

    

}

.uslugiAttentionImg {
    width: 22px;

    margin-right: 20px;
}

.uslugiAttentionTextContent {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uslugiAttentionTextHeadline {
    font-size: 24px;
    font-weight: 600;
    color: #fdc713;

    margin-bottom: 10px;

}

.uslugiAttentionText {
    margin: 2px 0;
    font-size: 16px;
    font-weight: 600;
    color: #555555;
    line-height: 110%;
}





.uslugi {
    display: flex;
    justify-content: space-between;
}
.uslugiCol1,
.uslugiCol2,
.uslugiCol3 {
    width: 30%;
}

.uslugiShalgbaumAndVideo {
    position: relative;

    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 20px;

    border-radius: 20px;

    background-color: #ad8e00;
}

.uslugiShalgbaumAndVideoTextContent {
    position: relative;
    z-index: 10;
}

.uslugiShalgbaumAndVideoHeadline {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    height: 110%;
}


.uslugiShalgbaumAndVideoDesc {
    margin: 5px 0;

    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 110%;
}

.uslugiShalgbaumAndVideoListWrapper {
    margin-top: 30px;
}

.uslugiShalgbaumAndVideoListItem {
    display: flex;
    align-items: center;

    margin: 10px 0;
}

.uslugiShalgbaumAndVideoLinkWrapper {
    margin-top: 40px;
    margin-bottom: 20px;
}

.uslugiShalgbaumAndVideoLink {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 40px;

    color: #333;
    text-decoration: none;

    background-color: #fff;

    border-radius: 10px;
    border: 2px dashed #fff;

    cursor: pointer;

    transition: .3s all;
}

.uslugiShalgbaumAndVideoLink:hover {
    transform: scale(1.05);
    background-color: #fef1b7;
}

.uslugiShalgbaumAndVideoListItemImg {
    width: 50px;
    margin-right: 10px;
}

.uslugiShalgbaumAndVideoListItemText {
    font-size: 16px;
    color: #fff;
}

.uslugiShalgbaumAndVideoImgContent {
}

.uslugiShalgbaumAndVideoImgWrapper {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 20px;
    text-align: right;

}

.shlagb {
    opacity: .9;
}
.uslugiShalgbaumAndVideoImg {
    width: 210px;
}


.uslugiCol3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uslugiAnotherWrapper {
    height: 200px;
    background-color: #b88700;
    
    padding: 20px;
    
    border-radius: 20px;

    box-sizing: border-box;
    

}

.uslugiAnother {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}


.uslugiAnotherHeadline {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
}

.uslugiAnotherDesc {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.uslugiAnotherImgContent {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.uslugiAnotherLinkWrapper {
    width: 130px;
}

.uslugiAnotherLink {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;

    text-decoration: none;
    font-size: 16px;
    color: #333;

    border-radius: 10px;

    background-color: #fff;

    transition: .3s all;

    cursor: pointer;
}

.uslugiAnotherLink:hover {
    transform: scale(1.05);
    background-color: #fef1b7;
}

.uslugiAnotherImgWrapper {
    text-align: right;
}


.uslugiAnotherImg {
    width: 110px;
}

@media screen and (min-width: 1980px) {
    .uslugiAttentionWrapper {
        margin-bottom: 40px;
    }
    .uslugiAttention {
        width: 60%;

        padding: 25px;
    }

    .uslugiAttentionTextHeadline {
        font-size: 36px;
    }

    .uslugiAttentionText {
        font-size: 18px;
    }

    .uslugiAttentionImg {
        width: 26px;
    }


    /* uslugi */
    .uslugiShalgbaumAndVideo {
        height: 800px;
    }

    .uslugiShalgbaumAndVideoTextHeader {
        min-height: 130px;
    }

    .uslugiShalgbaumAndVideoHeadlineWrapper {
        width: 90%;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 50px;
    }

    .uslugiShalgbaumAndVideoDesc {
        font-size: 22px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 20px 0;
    }

    .uslugiShalgbaumAndVideoListItemText {
        font-size: 20px;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 70px;
        margin-right: 20px;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 240px;
        height: 50px;
        font-size: 22px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 300px;
    }

    .uslugiAnotherWrapper  {
        height: 220px;
    }

    .uslugiAnotherHeadline  {
        font-size: 34px;
    }

    .uslugiAnotherDesc {
        font-size: 18px;
    }

    .uslugiAnotherLinkWrapper {
        width: 170px;

        margin-top: 30px;
    }

    .uslugiAnotherLink {
        height: 45px;
        font-size: 18px;
    }

    .uslugiAnotherImg {
        width: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .uslugiAttention {
        width: 100%;
    }

    .uslugiAttentionTextHeadline {
        font-size: 30px;
    }




    .uslugi {
        flex-wrap: wrap;
    }

    .uslugiCol1,
    .uslugiCol2,
    .uslugiCol3 {
        width: 100%;
    }

    .uslugiShalgbaumAndVideo {
        height: 300px;

        margin: 10px 0;
        padding: 15px;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 30px;
    }

    .uslugiShalgbaumAndVideoDesc {
        margin-top: 10px;

        font-size: 14px;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 34px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 6px 0;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 170px;

        font-size: 16px;
    }

    .uslugiShalgbaumAndVideoLinkWrapper {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .uslugiShalgbaumAndVideoImgWrapper {
        bottom: 10px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 300px;
    }

    .uslugiCol3 {
        flex-direction: row;
    }

    .uslugiAnotherWrapper {
        width: 32%;
    }

    .uslugiAnotherTextContent {
        position: relative;
        z-index: 2;
    }

    .uslugiAnotherHeadlineWrapper {
        
    }
    
    .uslugiAnotherHeadline {
        font-size: 20px;
    }

    .uslugiAnotherDesc {
        font-size: 11px;
    }

    .uslugiAnotherLinkWrapper {
        width: 90px;
    }

    .uslugiAnotherLink {
        height: 25px;

        margin-top: 26px;

        font-size: 12px;

        border-radius: 6px;
    }

    .uslugiAnotherImg {
        width: 135px;
    }
}

@media screen and (max-width: 576px) {
    .uslugiAttention {
        width: 100%;
        padding: 10px;
    }

    .uslugiAttentionText {
        font-size: 12px;
    }

    .uslugiAttentionImg {
        width: 20px;

        margin-right: 10px;
    }

    .uslugiAttentionTextHeadline {
        margin-bottom: 5px;
    }

    .uslugi {
    }

    .uslugiCol3 {
        flex-direction: column;
    }

    .uslugiAnotherWrapper {
        width: 100%;

        margin: 10px 0;
        padding: 15px;
    }

    .uslugiShalgbaumAndVideoImg {
        width: 200px;
    }

    .uslugiShalgbaumAndVideoHeadline {
        font-size: 24px;
    }

    .uslugiShalgbaumAndVideoDesc {
        font-size: 11px;
    }

    .uslugiShalgbaumAndVideoListWrapper {
        margin-top: 15px;
    }

    .uslugiShalgbaumAndVideoListItem {
        margin: 12px 0;
    }

    .uslugiShalgbaumAndVideoListItemImg {
        width: 24px;
        margin-right: 6px;
    }

    .uslugiShalgbaumAndVideoListItemText {
        font-size: 12px;
    }

    .uslugiShalgbaumAndVideoLinkWrapper {
        margin-top: 30px;
    }

    .uslugiShalgbaumAndVideoLink {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }

    .uslugiAnotherHeadline {
        font-size: 24px;
    }

    .uslugiAnotherDesc {
        font-size: 13px;
    }

    .uslugiAnotherLink {
        margin-top: 16px;
        font-size: 10px;
    }

}