.contactHeadline {
    font-size: 24px;
    color: #444;
    font-weight: 700;
}

.contactPageWrapper {
    display: flex;
    justify-content: center;
}

.contentWrapper {
    width: 900px;

    margin-bottom: 40px;
}

.contactDataAndMap {
    display: flex;
    height: 320px;
}

.contactDataWrapper {
    height: 100%;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactDataTimeWrapper,
.contactDataItemWrapper {
    display: inline-block;

    width: 300px;

    padding: 10px 30px;

    text-decoration: none;
    color: #000;

    
    -webkit-box-shadow: 0px 4px 14px 2px rgba(254, 208, 62, 0.2);
    -moz-box-shadow: 0px 4px 14px 2px rgba(254, 208, 62, 0.2);
    box-shadow: 0px 4px 14px 2px rgba(254, 208, 62, 0.2);

    transition: .3s all;

    border-radius: 20px;
}

.contactDataItemWrapper:hover {
    background-color: #FFF5CF;
}

.contactDataItem {
    display: flex;
    align-items: center;
}

.dataInfo {
    display: flex;
    flex-direction: column;
}

.dataTitle {
    font-size: 24px;
    font-weight: 600;

    padding-bottom: 10px;
}

.dataDesc {
    font-size: 18px;
}

.dataIconWrapper {
    margin-right: 15px;
}

.dataIcon {
    width: 30px;
    height: auto;
}

.contactMapWrapper {
    margin-left: 30px;
}

.callArgosWrapper {
    margin-top: 40px;
    
}


.callArgosWrapper {
    display: flex;
    justify-content: center;

    margin-top: 70px;
}

.callArgos {
    display: block;
    width: 100%;
   
    padding: 15px 0;

    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

    background-color: #FED03E;

    border-radius: 20px;

    transition: .3s all;
}

.callArgos:hover {
    opacity: .3;
}

.contactTGWrapper {
    margin-left: 50px;
}

.contactTGQR {
    width: 320px;
}

@media screen and (max-width: 1024px) {
    .dataTitle {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .dataDesc {
        font-size: 14px;
    }
    .contactMapWrapper {
        width: auto;
        margin: 0;
    }

    .contentWrapper {
        width: auto;
    }

    .contactMapWrapper iframe {
         width: 100% !important;
    }

    .contactPageWrapper {
        flex-direction: column;
    }

    .contactDataAndMap {
        flex-direction: column;
    }

    .contactDataAndMap {
        height: auto;
    }



    .contactDataTimeWrapper, .contactDataItemWrapper {
        width: auto;
    }

    .contactTGWrapper {
        margin: 0;
    }

    .contactTGQRWrapper {
        text-align: center;
    }

   .callArgos {
        font-size: 22px;
    }



    .mainServices {
        width: 100%;
        flex-wrap: wrap;
    }

    .mainServicesCol1 {
        order: 0;
        width: 100%;

        margin-bottom: 20px;
    }

    .mainServicesCol2 {
        order: 1;
        width: 48%;
    }

    .mainServicesCol3 {
        order: 1;
        width: 48%;
    }

    .mainServicesCallMeWrapper {
        display: flex;
        align-items: center;
    }

    .mainServicesCallMe {
        margin-right: 10px;
        font-size: 24px;
    }

    .mainServicesLink {
        width: 200px;
        margin: 0;
        padding: 5px;
        font-size: 16px;

    }

    .mainServicesLinkImg {
        width: 15px;
    }

    .mainServicesItemDesc {
        font-size: 18px;
    }

    .mainServicesItemLink {
        font-size: 14px;
    }

    .mainServicesItemArrow {
        width: 15px;
    }

    .mainServicesItemHeadline {
        font-size: 14px;
        padding: 8px 14px;
    }

}

@media screen and (max-width: 576px) {
    .contentWrapper {
        width: 100%;
    }

    .contactPageWrapper {
        justify-content: flex-start;
        flex-direction: column;
    }

    .contactDataAndMap {
        flex-direction: column;
        height: auto;
    }

    .contactMapWrapper {
        margin-top: 20px;
        margin-left: 0;
    }

    .contactMapWrapper iframe {
        width: 100%;
        height: 200px;
    }

    .dataTitle {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .dataDesc {
        font-size: 14px;
    }

    .dataIcon {
        width: 20px;
    }

    .callArgosWrapper {
        margin-top: 30px;
    }

    .callArgos {
        font-size: 22px;
    }

    .contactTGWrapper {
        margin: 0;
    }

    .contactTGQRWrapper {
        text-align: center;
    }



    .mainServices {
        width: 100%;

        padding: 0;

        flex-direction: column;
    }

    .mainServicesCol {
        width: 100%;

        text-align: center;
    }   

    
    .mainServicesCol1 {
        order: 1;

        margin: 20px 0;
    }
    .mainServicesCol2 {
        order: 2;
    }
    .mainServicesCol3 {
        order: 0;
    }

    .mainServicesItemContent {
        align-items: center;
    }

    .mainServicesItemDesc {
        font-size: 18px;
        min-height: auto;
    }

    .mainServicesItemLink {
        font-size: 14px;
    }

    .mainServicesItemArrow {
        width: 15px;
        margin-left: 5px;
    }

    .mainServicesCallMeWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainServicesCallMe {
        font-size: 22px;
    }

    .mainServicesLink {
        font-size: 18px;
        padding: 5px 0;
        margin-top: 15px;
    }
}